<div class="container">
    <div class="card">
        <div class="card-header pt-0 pb-0" style="background: #E1E5E9;">
            <h3 class="card-title" style="text-align: center; color:green">User Registration</h3>
        </div>

        <div class="card-body">

            <form>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <b><label>Name<span style="color: red;">*</span></label></b>
                            <input type="text" class="form-control" formControlName="userName" placeholder="Enter Name">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">

                            <b><label>Mobile No.<span style="color: red;">*</span></label></b>
                            <input type="text" class="form-control" formControlName="mobileNo" maxlength="10"
                                (keypress)="($event.charCode>=48 && $event.charCode<58)"
                                placeholder="Enter Mobile Number">

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">

                            <b><label>Email<span style="color: red;">*</span></label></b>
                            <input type="text" class="form-control" formControlName="email"
                                placeholder="Enter Email Id">

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">

                            <b><label>Password<span style="color: red;">*</span></label></b>
                            <br>
                            <input type="text" class="form-control" formControlName="password"
                                placeholder="Enter Password" style="-webkit-text-security: disc !important;">

                        </div>
                    </div>
                </div>
                <br>
                <input type="submit" value="Submit" class="btn btn-primary">

                &nbsp;&nbsp;

                <input type="button" value="Back" class="btn btn-primary" (click)="backButton()">

            </form>

            <hr>
            <h3 class="card-title" style="text-align: center; color:green">Already Registered User</h3>
            <hr>
            <div style="text-align: center;">
                <a href="/user-login" style="color: blue; font-size: 20px;">
                    Login
                </a>
            </div>
        </div>
    </div>
</div>