<div class="container">
    <div class="card">
        <div class="card-header pt-0 pb-0" style="background: #E1E5E9;">
            <h3 class="card-title" style="text-align: center; color:green">Task Manager - Login</h3>
        </div>
        <div class="card-body">

            <form [formGroup]="loginForm" (ngSubmit)="loginUser()">

                <div class="row">
                
                    <div class="col-md-12">
                        <div class="form-group">

                            <b><label>Email<span style="color: red;">*</span></label></b>
                            <input type="text" class="form-control" formControlName="emailAddress"
                                placeholder="Enter Email Address">

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">

                            <b><label>Password<span style="color: red;">*</span></label></b>
                            <br>
                            <input type="text" class="form-control" formControlName="password"
                                placeholder="Enter Password" style="-webkit-text-security: disc !important;">

                        </div>
                    </div>
                </div>
                <br>
                <input type="submit" value="Submit" class="btn btn-primary">

            </form>

            <hr>
            <h4 class="card-title" style="text-align: center; color:green">New User</h4>
            <hr>
            <div style="text-align: center;">
                <a href="/user-registration" style="color: blue; font-size: 20px;">
                    Register
                </a>
            </div>
        </div>
    </div>
</div>